<div
    id="ff-compose"
    class="p-4 rounded-lg bg-foreground dark:bg-card border shadow">
</div>
<script
    async
    defer
    src="https://formfacade.com/include/112188861772422493612/form/1FAIpQLScmYX8w0HGm1gb7czQoRByf3yNM9rOLs9cBzNreKLeyfGndyg/classic.js?div=ff-compose"
></script>
<style>
    .ff-title {
        display: none !important;
    }
</style>
