---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";
import { links } from "@config";

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<header class="w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <nav
        class={cn(
            "max-w-5xl w-full flex items-center justify-center sm:justify-between px-4 md:px-6 mx-auto border-b py-6",
            className
        )}>
        <a
            href={links.home}
            class="rounded-xl text-xl inline-block font-bold focus:outline-none focus:opacity-80 hover:opacity-80 transition">
            zenith ✕ bytes
        </a>

        <a
            href={links.zenithxtech}
            target="_blank"
            rel="noopener noreferrer"
            class="hidden sm:flex items-center gap-1 py-2 px-4 text-sm font-medium rounded-lg bg-card/60 focus:outline-none hover:text-primary transition text-nowrap">
            zenith ✕ tech
            <Icon name="tabler:trending-up" />
        </a>
    </nav>
</header>
